<h1>Fill in a scrabble word to find how many points it's worth!</h1>
<form action='/result'>
  <div class="form-group">
    <label for="sender">enter scrabble word</label>
    <input id="sender" name="sender" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
